* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  border: black solid 4px;
  width: 900px;
  margin: 50px auto;
}

.main-title {
  background-color: rgba(247, 240, 240, 0.844);
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
}

main {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 2fr 2fr;
  gap: 50px;
}

.product-info-box {
  padding: 25px 0;
}

.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.shipping-info {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

.product-article {
  margin-bottom: 15px;
  line-height: 1.2;
  letter-spacing: 0.7px;
}

.aside-box {
  padding: 25px 0;
  margin-right: 25px;
}

.aside-title {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.aside-list {
  letter-spacing: 0.7px;
  list-style-type: square;
  margin-left: 15px;
}

.aside-list li {
  margin-bottom: 8px;
}

.add-cart {
  display: block;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  /* font-weight: bold; */
  text-decoration: none;
  font-size: 22px;
}
